<footer>
    <div class="f-info border-top ">
        <div class="f-info-socials 	md">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-info-copyright">
            <p> &copy; WonderNest.Inc 2025</p>
        </div>
        <div class="f-info-link ">
            <ul class="f-link">
         <li class="f-li"><a href="" >Privacy</a></li>
         <li class="f-li"><a href="" >terms&conditions</a></li>

        </ul>
        </div>
        
        
    </div>
</footer>