<!-- <%layout("/layouts/boilerplate")-%>

    <body>
        <div class="booking">
            <form action="" method="get">
                <div class="reserve ">

                    <div class="mb-3">
                        <label for="checkIn" class="form-label">CheckIn</label>
                        <input type="date" class="form-control" id="checkIn">
                    </div>
                    <div class="mb-3">
                        <label for="checkout" class="form-label">Checkout</label>
                        <input type="date" class="form-control" id="checkout">
                    </div>
                </div>
                <div class="mb3">
                    <label for="guest">Guest</label><br>
                    <select name="guest" id="">
                        <option value="Child">Child</option>
                    </select>
                </div>
            </form>
        </div>
    </body> -->