<%layout("/layouts/boilerplate")-%>

    <body>
      <div class="alert alert-warning col-12 text-center" role="alert">
        <p><strong>We're currently upgrading our systems to serve you better.</strong> <br>
       Hotel booking is temporarily unavailable. Please check back shortly. Thank you for your patience!</p>
      </div>
    </body>