<%layout("/layouts/boilerplate")-%>

    <body>
      <div class="alert alert-warning col-12 text-center book-alert" role="alert">
        <p><b>We're currently upgrading our systems to serve you better.</b> <br>
      <i> Hotel booking is temporarily unavailable. Please check back shortly. Thank you for your patience!</i></p>
      </div>
    </body>