<%layout("/layouts/boilerplate")-%>
<body>
    <br><br> 
    <div class="row col-12">
    <div class="col-8 offset-md-1">
        <h3>Create a New Listing</h3>
    <form action="/listings"method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 ">
            <label for="title"class="form-label">Title</label>
            <input type="text" name="listings[title]" placeholder="cozy luxury" class="form-control" required>
            <div class="invalid-feedback">
                Please Enter a Title.
              </div>
        </div>
        <div class="mb-3">
            <label for="description"class="form-label">Description</label>
            <textarea name="listings[description]" placeholder="Enter description"class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please Enter a Description.
              </div>
        </div>
    
        
        <div class="mb-3">
            <label for="image"class="form-label">Upload Image </label>
            <input type="file" name="listings[image]" class="form-control">
            <div class="invalid-feedback">
                Please upload image.
              </div>
        </div>
        <div class="mb-3">
            <label for="price"class="form-label">Price</label>
            <input type="text" name="listings[price]" placeholder="1,200"class="form-control" required>
            <div class="invalid-feedback">
                Please Enter price.
              </div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-6">
            <label for="location"class="form-label">Location</label>
            <input type="text" name="listings[location]" placeholder="Mumbai"class="form-control" required>
            <div class="invalid-feedback">
                Please choose a location.
              </div>
        </div>
        <div class="mb-3 col-md-6">
            <label for="country"class="form-label">Country</label>
            <input type="text" name="listings[country]" placeholder="India"class="form-control" required>
            <div class="invalid-feedback">
                Please choose a country.
              </div>
        </div>
    </div><br>
    <div class="btn-add-div">
        <button class="btn btn-add">Add</button>
    </div>
    </form>
</div>
</div>
<br><br>
</body>
