/*Navbar*/
.navbar{
    height: 4rem !important;
}

.nav-link{
    color: black !important;
}
.fa-compass{
    color: rgb(248, 92, 92);
    font-size: 2rem;
}

/*footer*/
.fa-brands{
    color: rgb(82, 78, 78);
    font-size: 1.3rem;
    margin-left:5px;
}
.f-link{
    display: flex;
    text-decoration: none;
    gap: 10px;
    
    a{
        text-decoration: none; 
        color: rgb(82, 78, 78);

    }
    
}
.f-li{
    display: flex;
    align-items: center;
    a:hover{
        color:rgb(0, 85, 244);
        text-decoration: underline;
    }
}

.f-info{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
/* Responsive Design for footer*/
@media (max-width: 768px) {
    .f-link, .f-li, .f-info, .f-info-social {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;

    }

    .f-info {
        height: auto;
    }
}

/*Index style*/

.row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-display{
    margin-bottom: 4rem ;
    margin-right: 5rem ;
    border: none !important;
    transition: transform .2s;
}
.card-display:hover{
    transform: scale(1.1);

}
.card-img-top{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 2rem !important;
}
.card-link{
    text-decoration: none;
}
.card-img-top:hover{
    opacity: 0.5;
}

/*Show route*/

.img-fluid{
    height: 18rem !important;
    width: 30rem !important;
    object-fit: cover;
}
.btn-changes{
    color: white !important;
    background-color: rgb(235, 106, 106) !important;
}
.btns{
    display: flex;
   gap: 20px;
}

.btn-add{
    color: white !important;
    background-color: rgb(235, 106, 106) !important;
    border-radius: 3rem;
    padding:10px 30px  !important;
}
.btn-add-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;

}